
/* stylizes the title */
h1 {
    font-family: blackcurrant-cameo, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    z-index: -1;
    margin:auto;
    background-color: #DF6873;
    border-style: dotted;
    border-radius: 100px;
    width: 60%;
}
